# Storage Providers (Required at least one for GitHub Actions)
# Get this from https://gofile.io/myProfile
GOFILE_API_KEY=

# Get this from https://filester.me/
FILESTER_API_KEY=

# Notifications (Optional)
# Get this from Discord Server Settings -> Integrations -> Webhooks
DISCORD_WEBHOOK_URL=

# Get this from ntfy.sh or your self-hosted ntfy server
NTFY_TOKEN=

# Cloudflare & Private Stream Bypass (Optional)
# Example: cf_clearance=PASTE_YOUR_CF_CLEARANCE_HERE; sessionid=PASTE_YOUR_SESSIONID_HERE
CHATURBATE_COOKIES=

# Example: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36
USER_AGENT=
