# Storage Providers (Required at least one for GitHub Actions)
# Get this from https://gofile.io/myProfile
GOFILE_API_KEY=AjiBq8d9UPWFSSaBe1YKfomxBjTJXT1i

# Get this from https://filester.me/
FILESTER_API_KEY=069e1355f5aee8c089b406c612604f61f3d5ff888acc825e868058900e68d888


# Supabase Database (Optional - for storing recording links in cloud database)
# Get this from your Supabase project settings -> API
SUPABASE_URL=https://iktbuxgnnuebuoqaywev.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlrdGJ1eGdubnVlYnVvcWF5d2V2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3NTcwMjcsImV4cCI6MjA5MjMzMzAyN30.Tl5VJdAnUSVzcbMd4k5IMqQltcJjvVUMR5fHoNO-BVw

# Notifications (Optional)
# Get this from Discord Server Settings -> Integrations -> Webhooks
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1497660499670863966/GjrVGaCdXCBgvYrnSM-pIepKHqSIA_HgyiIb7NM8rn4i9L5xHM7QlZJpqD60PAtQiOa-

# Get this from ntfy.sh or your self-hosted ntfy server
NTFY_TOKEN=

# Cloudflare & Private Stream Bypass (Optional)
# Example: cf_clearance=PASTE_YOUR_CF_CLEARANCE_HERE; sessionid=PASTE_YOUR_SESSIONID_HERE
CHATURBATE_COOKIES=

# Example: Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36
USER_AGENT=Mozilla/5.0 (iPhone; CPU iPhone OS 18_1_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) Brave/1 Mobile/15E148 Safari/E7FBAF

